/* Reset de margens */
body {
    margin: 0;
    padding: 0;
}

/* NAVBAR DARK */
nav_dark {
    display: flex;
    align-items: center;
    height: 58px;
    background: #252B42;
    width: 100%;
    padding: 0;
}

nav_dark ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

#text {
  margin-left: 250px;
}

nav_dark ul svg {
    margin-right: 5px;
    margin-left: 20px;
    margin-top: 5px;;
}


nav_dark ul li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-decoration: none; /* Removendo o sublinhado */
    margin-right: 0px;
    margin-left: 0px;
}



/* NAVBAR LIGHT */
nav_light {
    display: flex;
    align-items: center;
    height: 58px;
    background: #FFFFFF;
    position: absolute;
    top: 50px; /* Alterado para posicionar mais abaixo na tela */
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
}

nav_light ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav_light ul li {
    margin-right: 20px;
}

nav_light ul li:last-child {
    margin-right: 0;
}

nav_light ul li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #252B42;
    text-decoration: none; /* Removendo o sublinhado */
}

#login a{
    color: #23A6F0;
    margin-left: 630px;
}

#shopping a{
    color: #23A6F0;
}

#favorites a{
    color: #23A6F0;
}

nav_light #brand {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 100px;
}

.hero {
    display:flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 80px;
    float: left;
    margin-left: 50px;
}


.gradient-box {
    width: 1400px;
    height: 617px;
    top: 178px;
    left: 5px;
    border-radius: 20px;
    background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
    
}

.all_hero_text{
    position: absolute;
    width: Fixed (548px);
    height: Hug (316px);
    gap: 30px;
    top: 300px;
    left: 200px;
    font-family: 'Montserrat';
}

#hero_text_01{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #2A7CC7;
}

#hero_text_02{
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 0.1px;
    letter-spacing: 0.1px;
    color: #252B42;  
}

#hero_text_03{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1px;
    color: #737373;  
    line-height: 30px;
    width: 390px;
    height: 60px
}

.button_hero{
    position: absolute;
    width: 221px;
    height: 62px;
    top: 600px;
    left: 200px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    border:none;
    border-radius: 5px;
    background: linear-gradient(90deg, #5B86E5, #36D1DC);
    color: #FFFFFF;
}

#redhair{
    position: absolute;
    width: 696px;
    height: 619;
    top: 137px;
    left: 800px;
    font-family: 'Montserrat';
}

.clients{  
    position: absolute;
    display: flex;
    width: 1320px;
    height: 175px;
    gap: 80px;
    top: 850px;
    left: 200px;
}

.shop_cards #card_01{
    display: flex;
    position: absolute;
    top: 1000px;
    left: 100px;

}

.shop_cards #card_02{
    display: flex;
    position: absolute;
    top: 1310px;
    left: 730px;

}

.shop_cards #card_03{
    display: flex;
    position: absolute;
    top: 1000px;
    left: 730px;

}

.shop_cards_content_bg_01{
    display: flex;
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    width: 415px;
    height: 230px;
    background: #2D8BC0BF;
    top: 1341px;
    left: 100px;
    justify-content: left;
}

.shop_cards_content_bg_02{
    display: flex;
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    width: 350px;
    height: 173px;
    background: #2D8BC0BF;
    top: 1115px;
    left: 730px;
    justify-content: left;
}

.shop_cards_content_bg_03{
    display: flex;
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    width: 347px;
    height: 173px;
    background: #2D8BC0BF;
    top: 1400px;
    left: 730px;
    justify-content: left;
}

.shop_cards #card_01_content {
    display: flex;
    position: absolute;
    color: #FFFFFF;
    width: 192px;
    height: 64px;
    top: 20px;
    left: 60px;
    
}

.shop_cards #card_02_content {
    display: flex;
    position: absolute;
    color: #FFFFFF;
    width: 330px;
    height: 64px;
    top: 20px;
    left: 30px;
    font-size: 20px;
    
}

.shop_cards #card_03_content {
    display: flex;
    position: absolute;
    color: #FFFFFF;
    width: 330px;
    height: 64px;
    top: 20px;
    left: 30px;
    font-size: 20px;
}

#button_card_content_01 {
    position: absolute;
    top: 140px;
    width: 190px;
    height: 50px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
}
#button_card_content_02 {
    position: absolute;
    top: 70px;
    width: 198px;
    height: 50px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
}
#button_card_content_03 {
    position: absolute;
    top: 70px;
    width: 190px;
    height: 50px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
}

#button_card_content_01:hover {
    background: linear-gradient(90deg, #36D1DC, #5B86E5);
}

#button_card_content_02:hover {
    background: linear-gradient(90deg, #36D1DC, #5B86E5);
}

#button_card_content_03:hover {
    background: linear-gradient(90deg, #36D1DC, #5B86E5);
}

.product_cards_header{
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    gap: 0px;
    top: 1800px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;

}

#features_products{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin: 10px;
}
#bestseller_products{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    margin: 10px;
    color:#252B42;
}

#problems{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin: 10px;
}

.product_cards{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    position: absolute;
    top: 2400px;
    left: 790px;
    transform: translate(-50%, -50%);
    width: 1200px;
}

#product_card_01,
#product_card_02,
#product_card_03,
#product_card_04,
#product_card_05,
#product_card_06,
#product_card_07,
#product_card_08,
#product_card_09,
#product_card_10
{
    font-family: Montserrat;
    text-align: center;
    margin: 15px;
}

.product_cards #card_title{
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
}
.product_cards #card_description{
    font-weight: 700;
    font-size: 14px;
    color: #737373;
}
.product_cards #card_price_1{
    font-weight: 700;
    font-size: 16px;
    color: #BDBDBD;
}
.product_cards #card_price_2{
    font-weight: 700;
    font-size: 16px;
    color:#23856D;
    width: 60px;
}

.price {
    display: flex; 
    justify-content:center; 
    flex-wrap: wrap;
}

.price:hover {
    background-color:  #00640019;
}

.button_product_cards button {
    margin-top: 100px;
    width: 256px;
    height: 52px;
    background: transparent;
    border: 1px solid #23A6F0;
    border-radius: 5px;
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;

}

.button_product_cards :hover {
    background: linear-gradient(90deg, #36D1DC, #5B86E5);
    color: #FFFFFF;
}

.featured_products{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    position: absolute;
    top: 3300px;
    left: 400px;
    transform: translate(-50%, -50%);
    width: 1580px;
}

#featured_products_hero_1{
    margin: 10px;
}

#featured_products_hero_2{
    margin: 10px;
}

.featured_products_text{
    display: flex;
    flex-direction: column; 
    align-items: left;
    position: absolute;
    gap: 0px;
    top: 0px;
    left: 1150px;
    font-family: Montserrat;
    text-align: left;
}
#fp_title{
    color: #23A6F0;
    font-size: 16px;
    font-weight: 700;
}

#fp_second_title{
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
}

#fp_text{
    color: #737373;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

}

.services{
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    gap: 0px;
    top: 3800px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;

}

#features_products_services{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin: 10px;
}
#bestseller_products_services{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    margin: 10px;
}

#problems_services{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin: 10px;
}

.icons{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 0px;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;
    width: 1400px;
}

#icon_1{
    flex: 1;
    margin-left: 130px;
    margin-right: 100px;
}
#icon_2{
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
}
#icon_3{
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
}

#service_title{
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
}

#service_description{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
}

#icon_1:hover {
    background-color:  #0080ff19;
}
#icon_2:hover {
    background-color:  #0080ff19;
}
#icon_3:hover {
    background-color:  #0080ff19;
}

.featured_posts{
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    gap: 0px;
    top: 4400px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;

}

#featured_title{
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #23A6F0;
}
#featured_title_2{
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    margin: 10px;
    color:#252B42;
}

#problems_services{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin: 10px;
}

.posts{
    display: flex;
    align-items: left;
    position: absolute;
    top: 450px;
    left: 190px;
    width: 500;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;
}

#post_01{
    flex: 1;
    margin-left: 50px;
    margin-right: 00px;
}
#post_02{
    flex: 1;
    margin-left: 450px;
    margin-right: 50px;
}
#post_informations{
    display: flex;
    flex-direction: column; 
    align-items: left;
    position: absolute;
    gap: 0px;
    top: 0px;
    left: 300px;
    font-family: Montserrat;
    text-align: left;
    width: 300px;
}
#post_informations_2{
    display: flex;
    flex-direction: column; 
    align-items: left;
    position: absolute;
    gap: 0px;
    top: 0px;
    left: 970px;
    font-family: Montserrat;
    text-align: left;
    width: 300px;
}
.icones_posts{
    display: flex;
    align-items: center; 
}
.icones_posts svg{
    margin-right: 10px;
}
.icones_posts #hour{
    display: flex;
    align-items: center;
    margin-right: 10px; 
    font-size: 12px;
}

.icones_posts #lessons{
    display: flex;
    align-items: center;
    margin-right: 10px; 
    font-size: 12px;
   
}
.icones_posts #progress{
    display: flex;
    align-items: center;
    margin-right: 10px; 
    font-size: 12px;
}

.sales{
    display: flex;
    align-items: center; 
}

.sales svg{
    margin-right: 5px;
}

.price_posts {
    display: flex; 
    justify-content:left; 
    flex-wrap: wrap;
    width: 200px;
}

.price_posts #price_posts_1{
    font-weight: 700;
    font-size: 16px;
    color: #BDBDBD;
    margin-right: 10px;
}
.price_posts #price_posts_2{
    font-weight: 700;
    font-size: 16px;
    color:#23856D;
    width: 60px;
}

#post_title{
    color:#23A6F0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
}

#post_title_2{
    margin-bottom: 5px;
    color:#252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

#post_description{
    color:#737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
}

.sales{
    color:#737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 5px;
}

.button_posts button {
    margin-top: 0px;
    width: 141.14px;
    height: 44px;
    background: transparent;
    border: 1px solid #23A6F0;
    border-radius: 37px;
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
}

.button_posts button:hover {
    background: linear-gradient(90deg, #36D1DC, #5B86E5);
    color: #FFFFFF;

}

.footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1520px;
    height: 175px;
    gap: 80px;
    top:5200px;
    left: 0px;
}
#bandage{
    display: flex;
    flex-direction: row;
    align-items: center; 
    background-color: #FAFAFA;
}

#bandage p{
    margin-right: 1000px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
    font-family: Montserrat;
    color: #252B42;
}

#bandage svg{
    margin-right: 20px;
}

#content_footer{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items:center; 
    align-items: flex-start;
}

#content_footer > * {
    margin-right: 150px; 
}

#content_footer > :last-child {
    margin-right: 0; 
}

#content_footer {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    padding: 0;
}
#content_footer a{
    color: #737373;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}
#content_footer ul li{
    list-style-type: none;
    font-style: normal;
    padding: 0;
}
#content_footer ul{
    padding: 0;
}

#company_info p{
    font-size: 17px;
    color: #252B42;
}

#legal p{
    font-size: 17px;
    color: #252B42;
}
#features p{
    font-size: 17px;
    color: #252B42;
}

#resources p{
    font-size: 17px;
    color: #252B42;
}

#contact p{
    font-size: 17px;
    color: #252B42;
}

#contact #lorem{
    font-size: 12px;
    color:#737373;
}


.subscribe{
    display: flex;
}

.subscribe input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    height: 30px;
}

.subscribe button {
    padding: 10px 20px;
    background-color:#23A6F0;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 50px;
}

#message{
    display: flex;
    flex-direction: row;
    align-items: center; 
    background-color: #FAFAFA;
}

#message p{
   
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 700;
    font-family: Montserrat;
    color:#737373;
}

/* Media query para dispositivos móveis
@media only screen and (max-width: 1400px) {
    nav_dark {
        display: none;
    }
   
}
@media only screen and (max-width: 780px) {

    nav_light ul {
        flex-direction: column;
    }

    nav_light ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
} */

